parameters:
    level: max
    scanDirectories:
        - %currentWorkingDirectory%/vendor
        - %currentWorkingDirectory%/web/wp
        - %currentWorkingDirectory%/web/wp-content/mu-plugins
        - %currentWorkingDirectory%/web/wp-content/plugins
    paths:
        - %currentWorkingDirectory%/web/wp-content/themes/global-theme
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Function __ invoked with 1 parameter, 0 required.#'
    scanFiles:
        - %currentWorkingDirectory%/web/wp-config.php
